@{
    ViewBag.Title = "UserWall";
}
@using Microsoft.AspNet.Identity

<div>
    @foreach (var i in ViewBag.Users)
    {
        if (i.Id == ViewBag.UserId)
        {
            <dl>
                <dt>Cторінка користувача @i.FirstName</dt>
                <dd>Ім'я - @i.FirstName</dd>
                <dd>Прізвище - @i.LastName</dd>
                <dd>Вік - @i.Age р.</dd>
                <dd>Пошта - @i.Email</dd>
            </dl>
        }
    }
    <h4>Пости користувача :</h4>
    @foreach (var i in ViewBag.Posts)
    {
        if (i.UserId == ViewBag.UserId)
        {
            <dl>
                <dt>@i.OwnerName публікує :</dt>
                <dd>@i.PostText</dd>
                <dd>@i.PostTime</dd>
                <dd>@Html.ActionLink("Коментарі", "GetComments", new { PostId = i.Id })</dd>
            </dl>
        }
    }
</div>

